{% extends 'User/home.html' %}
{% block contents %}
    <div class="container border my-3">
        <div class="row" >
            <div class="col-md">
                <div class="h4"> <span class="text-muted"> Patient Name :</span> <span class="h4">  {{ object.patient_name}}</span></div>
                <!-- <div class="h4"> <span class="text-muted"> Doctor Name :</span> <span class="h3">{{ app.doctor_name}} </span></div> -->
                <!-- <div class="h4"> <span class="text-muted"> Speciality :</span> {{ app.doctor_name.speciality}} </div> -->
                <div class="h4"> <span class="text-muted"> Date :</span> {{ object.date }}  </div>
                <div class="h4"> <span class="text-muted"> Time :</span> {{ object.time }}  </div>
                <button class="btn btn-info border border-dark my-2" type="submit">Consult </button>
            </div>
        </div>
    </div>
{% endblock contents%}



<!-- {% if user_name.username == app.doctor_name.doctor_name %} -->

<!-- {% endif %} -->