{% extends 'User/home.html'%}
{% block contents%}
<div class="container w-75 my-2  ">
    {% for doc in doctor %}
        <div class="container border my-3">
            <div class="row" >
                <div class="col-md">
                    <div class="h4"> <span class="text-muted"> Name :</span> <span class="h1">{{ doc.doctor_name}} </span>   </div>
                    <div class="h4"> <span class="text-muted"> Speciality :</span> {{ doc.speciality }}  </div>
                    <div class="h4"> <span class="text-muted"> Gender :</span>
                        {% if  doc.gender  == "M" %}
                            Male
                        {% else %}
                            Female
                        {% endif %}
                    </div>
                    <div class="h4"> <span class="text-muted"> City :</span> {{ doc.city }}  </div>
                    <div class="h4"> <span class="text-muted"> State :</span> {{ doc.State }}  </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock contents%}